src/ZooSoap/ZooSoapClient/Service References/AnimalService/AnimalService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ZooSoapServer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ZooSoapServer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="AnimalType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Cat" />
      <xs:enumeration value="Dog" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AnimalType" nillable="true" type="tns:AnimalType" />
  <xs:complexType name="Animal">
    <xs:sequence>
      <xs:element minOccurs="0" name="Appearance" nillable="true" type="tns:Appearance" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:AnimalType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Animal" nillable="true" type="tns:Animal" />
  <xs:complexType name="Appearance">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeightMeters" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Appearance" nillable="true" type="tns:Appearance" />
</xs:schema>